[Unit]
Description=NFS Server Container
After=network-online.target
Wants=network-online.target

[Container]
Image={{ nfs_container_image }}
ContainerName={{ nfs_container_name }}
PublishPort={{ nfs_host_port }}:2049
Volume={{ nfs_export_path }}:/nfs-share:Z
SecurityLabelDisable=false
PodmanArgs=--privileged

[Service]
Restart=always
RestartSec=10
TimeoutStartSec=900

[Install]
WantedBy=multi-user.target